@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20 0 0;
  width: 100%;
  z-index: 99;

  &__logo {
    display: block;
    max-height: 64px;

    &__wrapper {
      height: auto;
      padding: 0 0 0 20px;
      border: 0;
    }
  }
}
